<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8"/>
    <title>数据中心</title>
    <script th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<button onclick="setTabledata()">GET</button>
<script th:src="@{/js/jquery-1.10.1.min.js}" type="text/javascript"></script>

<script th:src="@{/js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script th:src="@{/js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>

<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));


    // 指定图表的配置项和数据
    option = {
        xAxis: {
            type: 'category',
            data: ''
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name:"订单",
            data: '',
            type: 'line'
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    //myChart.setOption(option);

    function setTabledata(){
        $.ajax({
            url: "/mall/admin/data_display/product_order",
            type: "get",
            success: function (result) {
                console.log(result.data);
                var xdata=new Array();
                var ydata=new Array();
                for (var i in result.data){
                    xdata.push(result.data[i].date);
                    ydata.push(result.data[i].count);
                }
                myChart.setOption(option);
                myChart.setOption({
                    xAxis: {
                        data: xdata
                    },
                    series: [{
                        // 根据名字对应到相应的系列
                        name:"订单数量",
                        data: ydata
                    }]
                });
            }
        });
    }
</script>
</body>
</html>